/全局光照/DDGI/2019 Dynamic Diffuse Global Illumination with Ray-Traced Irradiance Fields.pdf
/全局光照/DDGI/2019_I3D_DynamicDiffuseGI.pptx
/后处理/Next Generation Post Processing in Call of Duty Advanced Warfare v18.pptx